/* 
    Document   : MainScene
    Created on : 2/04/2013, 12:05:18 PM
    Author     : elbrujo
    Description:
        Purpose of the stylesheet follows.
*/

root 
{ 
    display: block;
}
#top-hbox
{
    -fx-background-color: #336699;
}
#bottom-hbox
{
    -fx-background-color: #336699;
}
#right-tile-pane
{
    -fx-background-color: DAE6F3;
}
#label-main-name
{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;  
}
#label-id
{
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #333333FF;
}
#label-date-and-time
{
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFFFF;
}
.table-view .column-header
{
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}
.button
{
    -fx-base: #336699;
    -fx-font-weight: bold;
}

