/* 
    Document   : MainScene
    Created on : 2/04/2013, 12:05:18 PM
    Author     : elbrujo
    Description:
        Purpose of the stylesheet follows.
*/

root 
{ 
    display: block;
}
#top-hbox
{
    -fx-background-color: #ffffff;
}
#bottom-hbox
{
    -fx-background-color: #ffffff;
}
#right-border-pane
{
    -fx-background-color: #ffffff;
}
#center-stack-pane
{
}

#label-main-name
{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}
#label-id
{
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
}
#label-date-and-time
{
    -fx-font-weight: bold;
}
.table-view
{
    -fx-border-color: #ffffff;
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}
.table-view .column-header 
{
    -fx-background-color: #a9a9a9;
}
.table-view .column-header .label
{
    -fx-text-fill: #ffffff;
    -fx-font-size: 12;
    -fx-font-style: normal;
    -fx-font-weight: bold;
}
.table-row-cell:empty 
{
    -fx-background-color: #ffffff;
}
.table-row-cell:empty .table-cell
{
    -fx-border-width: 0px;
}
.button
{
    -fx-base: #000000;
    -fx-font-weight: bold;
    -fx-border-color: #000000;
    -fx-background-insets: 0;
}
.scroll-bar
{
    -fx-base: #f5f5f5;
}

